# History & Session data files
.Rhistory
.RData 

# RStudio files
.Rproj.user

# User-specific files
.Ruserdata

# Specific file formats
*.doc*
*.docx*
*.pptx
*.xls*
*.tif*
*.gpkg*
*.png*

# Temporary files
*.utf8.md
*.knit.md
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*


# Folder
data-raw/geo-raw/
data-raw/r-raw/Old/

docs/admin/
docs/literature/
docs/manuscript/
docs/presentations/
docs/reports/Old/

share_common/



