# History & Session data files
.Rhistory
.RData

# RStudio files
.Rproj.user

# User-specific files
.Ruserdata

# Specific file formats
*.doc*
*.pptx
*.xls*
*.tif*
*.gpkg*
*.png

# Temporary files
*.utf8.md
*.knit.md
*~
~$*.doc*
~$*.xls*
*.xlk
~$*.ppt*


# Folder
data-raw/geo-raw/
data-raw/r-raw/Old/
docs/admin
docs/literature
docs/manuscript
docs/presentations
docs/reports/Old
model/Old
plots/01_environmental_variables/Old
plots/02_overall_activity/Old
plots/03_daily_activity/Old
share_common
sciurus_vulgaris_b_cttemp_drenske_s/

R/Old
